@import "../../vars.css";



.container {
    display: flex;
    flex-direction: column;
    border: 0.25px solid var(--color-text);
    border-radius: 25px;
    justify-content: flex-start;
    align-items: center;
    width: 375px;
    height: 375px;
    overflow: hidden;
    background-color: #2B1F3B;
}

.cardImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    flex-shrink: 0;
}

.cardImage img {
    position: relative;
    z-index: 2;
}

.cardImage div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #130A1D;
    z-index: 1;
}

.cardContent {
    padding: 10px 25px;
    width: 100%;
    box-sizing: border-box;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cardHeader h3 {
    color: var(--color-text);
    font-family: var(--font-ibm-plex-mono);
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    padding-right: 7px;
}

.cardHeader img {
    max-height: 10px;
}

.cardContent p {
    color: var(--color-text);
    font-family: var(--font-dm-sans);
    font-size: 16px;
    text-align: left;
    margin-top: 7px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 10px;
}

.skill {
    color: var(--color-text);
    font-family: var(--font-ibm-plex-mono);
    font-weight: 600;
    font-size: 16px;
    background-color: #FFD13A80;
    border-radius: 25px;
    padding: 5px 10px;
}




/*
.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 10px 24px;
    max-width: 345px;
}

.image {
    margin-bottom: 26px;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none; /* remove bullet points 
}

.skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}

.links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 22px;
} */