@import "../../vars.css";

.container {
    margin-top: 10%;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: relative;
    z-index: 100;
    align-items: center;
   /* margin-bottom: -25px;*/
}

.title h2 {
    font-family: var(--font-playfair);
    color: var(--color-text);
    font-size: 84px;
    font-weight: 900;
    text-align: center;
}

.title div {
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    height: 8px;
    width:  300px;
    margin-top: -33px;
    margin-left: 40px;
}

.projects {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  /* since we use flex wrap, this handles responsiveness so we don't need to use @screen */
  align-items: center;
  justify-content: center;
  gap: 75px;
  width: 100%;
  max-width: 1275px; /* 3 cards (375px each) + 2 gaps (75px each) */
}