@import "../../vars.css";


.navbar {
    position: sticky;
    top: 0;
    z-index: 99999999999;
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    padding: 10px;
    padding-right: 100px;
    width: 100%;
    background-color: var(--color-dark);
    box-shadow: 0px 10px 5px #00000030;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 75px;
    list-style: none; 
}

.menuItems a {  
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font-ibm-plex-mono);
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover {
    color: var(--color-primary);
}

@media screen and (max-width: 830px) {
    .navbar {
        justify-content: center;
        padding-right: 0;
        height: 3rem;
    }
    
    .menu {
        align-items: center;
    }

    .menuItems {
        gap: 30px;
    }

    .menuItems a {
        font-size: 17px;
    }

}