/* variables allow you to define things like fonts and colors in a single place so that it is easier to edit later */

:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Fonts */
    --font-robot: "Roboto";
}